@charset "UTF-8";

// Mixins
@import "../../../../lib/Materialize/sass/components/prefixer";
@import "../../../../lib/Materialize/sass/components/mixins";
@import "../../../../lib/Materialize/sass/components/color";


@import "../custom";

// Variables;
@import "../../../../lib/Materialize/sass/components/variables";

// Reset
@import "../../../../lib/Materialize/sass/components/normalize";

// components
@import "../../../../lib/Materialize/sass/components/global";
//@import "../../../../lib/Materialize/sass/components/icons-material-design";
@import "../../../../lib/Materialize/sass/components/grid";
//@import "../../../../lib/Materialize/sass/components/navbar";
@import "../../../../lib/Materialize/sass/components/roboto";
@import "../../../../lib/Materialize/sass/components/typography";
@import "../../../../lib/Materialize/sass/components/cards";
@import "../../../../lib/Materialize/sass/components/toast";
@import "../../../../lib/Materialize/sass/components/tabs";
@import "../../../../lib/Materialize/sass/components/tooltip";
@import "../../../../lib/Materialize/sass/components/buttons";
@import "../../../../lib/Materialize/sass/components/dropdown";
@import "../../../../lib/Materialize/sass/components/waves";
//@import "../../../../lib/Materialize/sass/components/modal";
@import "../../../../lib/Materialize/sass/components/collapsible";
@import "../../../../lib/Materialize/sass/components/chips";
//@import "../../../../lib/Materialize/sass/components/materialbox";
@import "../../../../lib/Materialize/sass/components/forms/forms";
//@import "../../../../lib/Materialize/sass/components/table_of_contents";
@import "../../../../lib/Materialize/sass/components/sideNav";
@import "../../../../lib/Materialize/sass/components/preloader";
//@import "../../../../lib/Materialize/sass/components/slider";
@import "../../../../lib/Materialize/sass/components/date_picker/default";
@import "../../../../lib/Materialize/sass/components/date_picker/default.date";
@import "../../../../lib/Materialize/sass/components/date_picker/default.time";

@import "../../mixins";

@import "../app";
@import "../header";

.container {
	padding-bottom: 5rem;
}

.canvasjs-chart-credit {
	display: none !important;
}

.row {
	margin-bottom: 0;
}

.registerMonths {
	padding-top: 0.5rem !important;
	padding-bottom: 0 !important;

	.card {
		button[state=menu] {
			@extend .btn-flat;
			padding-left: 10px !important;
			padding-right: 10px !important;
			color: #999 !important;
		}
	}
}

.mini-counts-container {
	padding-left: 1.8rem !important;
	padding-right: 1.8rem !important;

	.mini-counts {
		border: none;
		display: block;
		width: 100%;
		vertical-align: middle;
		text-align: center;

		i {
			font-size: 2.5rem;
			display: inline-block;
			margin-right: 1rem;
			vertical-align: middle;
		}

		h2 { 
			vertical-align: middle;
			text-align: right;
			font-size: 1rem;
			margin: 0;
			display: inline-block;
			font-size: 2rem;
			line-height: 1;
			font-weight: 900;

			small {
				color: rgba(255, 255, 255, 0.7);
				display: block;
				font-size: .7rem;
				font-weight: normal;
			}
		}
	}
}

.invitados {
	padding-bottom: 10px;

	.header {

		min-height: 50px;
		padding-top: 7px;
		padding-bottom: 7px;

		h4 {
			font-size: 1.2rem;
			height: inherit;
			line-height: 50px;
			margin: 0;
			font-weight: 500;
			color: #666;
		}
	}

	.body {
		margin: 0;
		padding-top: 5px;
		padding-right: 5px;
		padding-bottom: 0;
		max-height: 260px;
		overflow: auto;
		border: none;

		li.collection-item {

			padding-left: 5px;
			padding-right: 0;
			position: relative;

			.title {

				font-size: 1.1rem;
				font-weight: 500;
				display: block;
				line-height: normal;
				padding-right: 100px;
				color: #555;
				outline: none;

				&.min-pad-right {
					padding-right: 70px;
				}
			}

			a.title:hover {
				text-decoration: underline;
			}

			.title2 {
				font-size: 1rem;
				font-weight: normal;
				display: block;
				line-height: 1.3;
				padding-right: 90px;
				color: #555;

				i.material-icons {
					font-size: 1em;
					vertical-align: middle;
				}
			}

			.time {
				display: block;
				font-size: 0.9rem;
				color: #888;
				line-height: normal;

				i.material-icons {
					font-size: 1em;
					vertical-align: middle;
					margin-right: 5px;
				}

				time {
					vertical-align: middle;
				}
			}

			.results {
				position: absolute;
				top: 15%;
				right: 8px;

				span {
					display: inline-block;
					text-align: center;
					width: 35px;
					height: auto;
					line-height: .8;
					padding: 3px 0 5px;
					font-weight: 500;

					&:first-child {
						margin-right: 5px;
					}

					i.material-icons {
						display: block;
					}

					&.invi {
						color: white;
						border-radius: 3px;
						background-color: color("orange", "accent-3");
					}

					&.asis {
						color: white;
						border-radius: 3px;
						background-color: color("green", "base");
					}
				}
			}

			.chip  {
				position: absolute;
				top: 1rem;
				right: 0;
			}
		}

		li.empty-list {
			line-height: normal;
			height: auto;
			background-color: #f0f0f0;

			h4 {
				font-size: 1.2rem;
				color: #888;
			}
		}
	}
}

.no-pad-left {
	padding-left: 0;
}

.collection-main {

	max-height: initial !important;

	li.collection-item {
		padding: 0.5rem 0 !important;
	}

	.title {
		min-height: 32px;
		line-height: 32px;
		display: block;
		padding-right: 32px;

		.chip {
			margin-left: 5px;
			vertical-align: bottom
		}
	}
	
	.title2 {
		display: block;
		padding-right: 32px;
	}
	.assis {
		position: absolute;
		bottom: 1.5rem;
		right: 0;
		height: 1rem;
		line-height: 1rem;
		width: 1rem;
		padding: 0;
		z-index: 2;
		@include border-radius(50%);
	}

	.disp {
		padding: 0 0.5rem;
		background-color: color('yellow', 'darken-2');

		i {
			margin: 0;
			padding: 0;
		}
	}
}

.coll-participantes {
	border: none;
	@include box-shadow(none);

	.collapsible-header {
		font-size: 1.1rem;
		font-weight: 600;
		color: #666;
	}

	.collapsible-body {
		background-color: #f0f0f0;
	
		.close {
			border: none;
			height: 24px;
			line-height: 24px;
			padding: 0;
			border-radius:50%;
			text-align: center;
			position: absolute;
			top: 10px;
			right: 6rem;
			z-index: 3;

			i {
				line-height: 24px;
				margin: 0;
				padding: 0;
			}

			&:active, &:hover, &:focus {
				background-color: #f0f0f0;
			}
		}

		.cnt-list-persons {
			background-color: transparent;
			margin-top: 1rem;

			ul li {
				padding: 5px 0 !important;

				.title {
					font-size: 1.1rem;
					min-height: initial;
					line-height: normal;
				}

				.title2 {
					font-size: 1rem;
					padding-left: 1.5rem;
					margin: 0;
				}

				small {
					padding-left: 1.5rem;
				}
			}
		}

		.cnt-years li {
			position: relative;

			.view-list {
				color: #222;
				font-weight: 500;

				&:hover {
					text-decoration: underline;
				}
			}

			.secondary-content {

				color: $secondary-color;
				font-size: .9rem;

				i {
					margin-right: .3rem;
					vertical-align: sub;
					font-size: 1.1em;
				}
			}
		}
	}
}

@media #{$large-and-up} {

	.material-tooltip {
		font-size: 12px;
		padding: 5px 8px;
		min-height: 22px;
		opacity: 0.9;
		font-weight: 300;
		@include border-radius(5px);
	}

}

