#list-themes {

    .headertext-stheme {
        font-size: 1rem;
        color: #888;
        margin-top: 0.5rem;
        display: block;
    }

    .list-subthemes {
        margin: 0;
        padding: 0;
        margin-bottom: .5rem;
        border: none;


        li.collection-item {
            padding: .5rem;
            background-color: #f5f5f5;
            padding-right: 32px;

            .btn-options {
                top: 0rem;
                i {
                    font-size: 18px;
                }
            }
        }

        .title {
            font-size: 1.15rem;
            color: #555;
            margin: 0;
            margin-left: .5rem;
            cursor: default;
            line-height: 1.3;
        }

        .description {
            margin: 0;
            margin-left: 0.5rem;
            font-size: 0.95rem;
            color: #666;
            line-height: 1.3;
        }

        .empty {
            font-size: 1rem;
            font-weight: normal;
            color: #888;
            background-color: #f5f5f5;
            padding: 5px 10px;
            margin-top: 0.5rem;
            line-height: normal;

            p {
                margin: 0;
            }
        }
    }
}
