table#programming-data {
	caption {
		text-align: left;
		padding-right: 280px;
		margin-bottom: 1.5rem;
		position: relative;

		b {
			display: inline-block !important;
		}

		h2 {
			font-size: 1.5rem;
			margin: 0;
		}

		h4 {
			margin:0;
			margin-bottom: 0.5rem;
			font-size: 1.1rem;
			color: #666;
		}

		object {
			max-width: 260px;
			position: absolute;
			right: 1rem;
			top: 0;
		}
	}

	td {
		padding: 5px;
		text-align: center;
		vertical-align: middle;

		&.right-align {
			text-align: right !important;
		}
		&.left-align {
			text-align: left !important;
		}

		b {
			display: block;
		}
	}
}

.table-header {
	margin: 0;
	background-color: #f0f0f0;
}

#list-participant {
	.collection-item {
		padding: 1.1rem 1rem;
		@include user-select(none);

		.row {
			margin-bottom: 0;
		}

		span {
			display: block;
		}

		.title {
			font-size: 1.3rem;
			font-weight: 500;
			color: #444;
			line-height: 1.2;
			position: relative;
			padding-right: 30%;
			display: block;

			i.material-icons {
				position: absolute;
				right: 3.5%;
				top: 0;
				color: #666;

				&.si {
					color: $success-color;
				}

				&.no {
					color: $error-color;
				}
			}
		}

		.title2 {
			font-size: 1.05rem;
			font-weight: normal;
			color: #444;

			b {
				font-weight: 400;
				color: #222;
			}
		}

		.title3 {
			font-size: 0.95rem;
			color: #555;
		}

		> div {
			padding-right: 20%;
			position: relative;
		}

		.rubic {
			position: absolute;
			right: 1rem;
			bottom: -4px;
			font-size: .8rem;
			color: #666;
			border-top: 1px solid #444;
			width: 12rem;
			text-align: center;
		}

		.chip {
			display: inline-block;
			position: absolute;
			top: 0;
			right: 12.5%;
			background-color: #fff;
			height: 24px;
			line-height: 24px;
		}
	}
}



@media only print {
	@page {
	  size: A4;
	  margin: 10mm 10mm 10mm 10mm;
	}

	html, body {
	    width: 210mm;
	    height: 297mm;
	    background-color: #f0f0f0 !important;
	    font-size: 12px;
	    font-size: 12pt;
	  }

	.collection-item {
		border-bottom-width: 1pt !important;
	}

	li.collection-item {
		page-break-inside: avoid !important;
	}
}