.inner {
	@media #{$small-and-down} {
		padding-left: 0;
		padding-right: 0;
	}
}

#list-entities {
	.collection-item {
		@media #{$small-and-down} {
			padding-left: 0;
			padding-right: 0;
		}
	}
	.title {
		line-height: 1.3;
	}

	.title2 {
		padding-left: 4rem;
		position: relative;
		b {
			position: absolute;
			left: 0;
		}
	}
}