#list-participant {
	margin-left: 0 !important;
	margin-right: 0 !important;
	overflow: initial;
	max-height: none;

	li.collection-item {

		padding-right: 12px;
		padding-top: 0;
		padding-bottom: 0;

		label:before {
			right: 19px;
			margin-top: 4px;
			margin-bottom: 0;
		}

		.title {
			font-size: 1.3rem;
		}

		.title2 {
			font-size: 1.05rem !important;
		}

		.title3 {
			font-weight: normal;
			font-size: 0.95rem;
		}

		@media #{$small-and-down} {
			padding-left: 0;
			padding-right: 0;

			.title {
				font-size: 1.2rem;
			}
		}
	}
}

input[type=text][readonly="readonly"] {
	color: #444;
}

.reverse-chk {
	margin: 1.25rem 0; 
	text-align: right;
	padding-right: 17px;

	@media #{$small-and-down} {
		padding-right: 5px;
	}

	input[type="checkbox"] + label:before,
    input[type="checkbox"]:checked + label:before,
    input[type="checkbox"] + label:after,
    input[type="checkbox"]:checked + label:after {
        left: auto;
        right: 8px;
    }

    label {
    	padding-left: 0;
    	padding-right: 40px;

    	&:before {
    		right: 19px;
    		margin-right: 11px;
    	}
    }
}

.dispacity {
	color: color("orange", "darken-1");
	font-size: 1.5rem;
	vertical-align: middle;
}

.time-assi {
	display: inline-block;
	position: absolute;
	bottom: 1rem;
	right: 8px;
	font-size: 1rem;
	background-color: #bbb;
	color: white;
	font-weight: 500;
	letter-spacing: -1px;
	line-height: normal;
	padding: 1px 5px 2px 2px;
	vertical-align: sub;
	@include border-radius(5px);

	i, span {
		display: inline-block;
		vertical-align: middle;
		color: white;
		font-size: 1em;
		margin: 0;
		padding: 0;
		line-height: normal;
		margin-left: 3px;
	}
}

.modal-list label {
	padding-right: 4.3rem !important;
}

.row {
	margin-bottom: 0;
}

