#list-participant {
	li.collection-item {
		padding: 0 1rem 1rem 1rem;
		margin-bottom: 1rem;
		@include user-select(none);

		.row {
			margin-bottom: 0;
		}

		span {
			display: block;
		}

		.title {
			font-size: 1.3rem;
			font-weight: 500;
			color: #444;
			line-height: 1.2;
			position: relative;
			padding-right: 48px;

			i.material-icons {
				position: absolute;
				right: 8px;
				top: 0;
				color: #666;

				&.si {
					color: $success-color;
				}

				&.no {
					color: $error-color;
				}
			}

			span.time-assist {
				position: absolute;
				right: 3rem;
				top: 0.2rem;
				font-size: .9rem;
			}
		}

		.title2 {
			font-size: 1.05rem;
			font-weight: 500;
			color: #666;
		}

		.title3 {
			font-size: 0.95rem;
			color: #666;
		}

		> div {
			padding-right: 64px;
			position: relative;

			input[type=text] {
				position: absolute;
				width: 42px;
				height: 1.5rem;
				right: 0;
				text-align: center;
				margin-bottom: 0;
				bottom: 0;
			}
		}
	}
}

.file-field {
	position: relative;

	#file_saved {
		position: absolute;
		padding: 1px 5px;
		right: 1rem;
		top: 0;
		text-align: center;
		display: block;
		background-color: white;
		color: #444;
		z-index: 2;
		&.word {color: color('blue', 'base')}
		&.pdf {color: color('red', 'base')}
		i.fa {
			display: block;
			padding: 0 0.5rem;
			font-size: 24px;
			font-weight: 500;
		}
	}
}

input[readonly=readonly] {
	color: #444 !important;
}