.search-coordinator {
	margin-bottom: 0;
	@media #{$small-and-down} {
		margin-top: 2rem;
	}
}

.items-count {
	margin: .5rem 0 0 0;
	font-weight: 500;
	color: #666;
	font-size: .9rem;

	&:before {
		content: "Items: ";
	}
}

#coor_index {
	.inner {
		padding-top: 0;
	}

	.title:hover {
		text-decoration: underline;
	}

	.is_active {
		color: $error-color;
		font-size: 1rem;
		vertical-align: sub;
		opacity: .8;
		cursor: default;

		&.active {
			color: $success-color;
		}
	}
}

#modal_fulldata {
	.popup-body .row {
		margin-bottom: 0;
		margin-left: -24px;
		margin-right: -24px;
		background-color: #f0f0f0;
		padding: 10px 0;
	}
	.descript {
		display: block;
		margin-bottom: 5px;
		color: #666;
		font-weight: 500;

		b {color: #444;}
	}

	.last-modified {
		display: block;
		font-size: 80%;
		margin: 2rem 0 0 0 !important;
	}

	.title span, .title small {
		i {
			font-size: 1.4rem;
			vertical-align: middle;
			margin-right: 10px;
		}
	}

	.title span {
		font-weight: 600;
		color: #444;
	}

	.title small {
		font-weight: 500;
		color: #666;
	}
}

.input-field label {
	width: 80%;

	i.material-icons {
		font-size: inherit;
		vertical-align: middle;
		cursor: help;
	}
}

input[type=text][readonly=readonly] {
	color: #444;

	& + label {
		color: #888;
	}
}