#list-trainings {
	margin: 0;

	.collection-item {
		padding: 0;
	}

	.collapsible {
		box-shadow: none;
		border: none;
		margin: 0;

		> li {
			padding: 0.5rem;
			position: relative;
			&.active { @extend .z-depth-1; }
		}
		
		.btn-options {
			top: 0.3rem;
		}

		.collapsible-header {
			border:none;
			line-height: normal;
			min-height: auto;
			padding-right: 2rem;

			.title {
				line-height: 1.2;
				font-size: 1.3rem;
				color: #444;
				display: block;
				font-weight: 500;
				@extend .truncate;
			}

			&.active .title {
				color: $primary-color;
			}

			.type {
				font-size: 1rem;
				font-weight: 500;
				color: #888;
				line-height: 1.6;
				display: block;
			}

			.description {
				margin: 0.3rem 0;
				color: #666;
				line-height: normal;
			}

			.last-modified {
				line-height: normal;
				margin: 0;
				font-weight: 400;

				time { line-height: inherit; }
			}
		}

		.collapsible-body {
			border: none;

			.progress { margin: 0; }

			.container-themes {
				padding: 0 1rem;
			}

			.blocktheme {
				margin: 0;
				border-bottom: 1px solid #e5e5e5;
				padding-top: 1rem;
				padding-bottom: 1rem;

				&:last-child {
					border-bottom: none;
				}

				.title {
					font-size: 1.2rem;
					color: #444;
					font-weight: 500;
				}

				.description {
					margin: 0;
					margin-bottom: 1rem;
					padding: 0;
				}
			}

			.section-header {
				font-size: 1.1rem;
				display: block;
				font-weight: 500;
				color: #888;
				margin: 0;
			}

			.blocksubtheme {
				margin: 0;

				.stitle {
					font-size: 1rem;
					font-weight: 500;
					color: #666;
					margin-top: .5rem;
					display: block;
				}

				.sdescription {
					font-size: 0.95rem;
					margin: 0;
					padding: 0;
					margin-bottom: 1rem;
				}
			}
		}
	}
}