div.row {
	margin-bottom: 0;
}

#list-themes {
	max-height: initial;

	.collection-item {
		padding: 0.5rem;

		.description {
			margin: 0;
			font-weight: normal;
			font-size: 1rem;
		}
	}

	.ulist {
		margin: 0;
		padding-left: 1.5rem;
		line-height: normal;
		background-color: #f5f5f5;

		li {
			list-style: decimal;
			padding: 0.3rem 0;

			span {
				font-size: 1.1rem;
				color: #444;
				margin: 0;
				padding: 0;
				line-height: normal;
			}

			p {
				margin: 0;
				line-height: 1.3;
				font-size: 0.85rem;
				color: #666;
			}
		}
	}
}
