table#programming-data {
	caption {
		text-align: left;
		padding-right: 280px;
		margin-bottom: 1.5rem;
		position: relative;

		b {
			display: inline-block !important;
		}

		h2 {
			font-size: 1.5rem;
			margin: 0;
		}

		h4 {
			margin:0;
			margin-bottom: 0.5rem;
			font-size: 1.1rem;
			color: #666;
		}

		object, img {
			max-width: 260px;
			position: absolute;
			right: 1rem;
			top: 0;
		}
	}

	td {
		padding: 5px;
		vertical-align: middle;

		&.right-align {
			text-align: right !important;
		}
		&.left-align {
			text-align: left !important;
		}

		b {
			display: block;
		}
	}
}

.table-themes {
	.title {
		font-size: 1.3rem;
		font-weight: 500;
		color: #444;
		margin: 0;
		line-height: 1.2;

		& + .description {
			margin: 0;
			font-size: .9rem;
			color: #444;
		}
	}

	.title2 {
		font-size: 1.15rem;
		font-weight: 500;
		color: #444;
		margin: 0;
		line-height: normal;

		& + .docente {
			font-weight: 500;
			font-size: .9rem;
			color: #666;

			& + p {
				margin: 0;
				font-size: 0.9rem;
				color: #444;
			}
		}
	}
}

.table-header {
	margin: 0;
	background-color: #f0f0f0;
}

.divider-page {
	height: 60px;
	line-height: 60px;
	margin: 10px 0 24px 0;
	border-bottom: 1px solid #e9e9e9;

	h2, h3, h4 {
		font-size: 1.8rem;
		height: inherit;
		line-height: inherit;
		color: rgba(0, 0, 0, 0.54);
		margin: 0;
	}
}

#list-participant {
	.collection-item {
		padding: 1.1rem 1rem;
		@include user-select(none);

		.row {
			margin-bottom: 0;
		}

		span {
			display: block;
		}

		.title {
			font-size: 1.3rem;
			font-weight: 500;
			color: #444;
			line-height: 1.2;
			position: relative;
			padding-right: 40%;
			display: block;

			i.material-icons {
				position: absolute;
				right: 1%;
				top: -0.2rem;
				color: #666;

				&.si {
					color: $success-color;
				}

				&.no {
					color: $error-color;
				}
			}
		}

		.title2 {
			font-size: 1.05rem;
			font-weight: normal;
			color: #444;

			b {
				font-weight: 400;
				color: #222;
			}
		}

		.title3 {
			font-size: 0.95rem;
			color: #555;
		}

		> div {
			padding-right: 40%;
			position: relative;
		}

		.chip {
			display: inline-block;
			position: absolute;
			top: -0.2rem;
			right: 8%;
			background-color: #fff;
			height: 24px;
			line-height: 24px;
			@media #{$small-and-down} {
				right: 11%;
			}
			@media only print {
				right: 10%;
			}
		}

		.nota {
			right: 21.5%;
			font-weight: 600;
			font-size: 1.1rem;
			@media only print {
				right: 23%;
			}
		}
	}
}