@media only print {

	@page {
		size: A4;
		margin: 10mm 10mm 10mm 10mm;
	}

	html, body {
		width: 210mm;
		height: 297mm;
		background-color: #f0f0f0 !important;
		font-size: 12px;
		font-size: 12pt;
	}

	.no-print {
		display: none !important;
	}

	.collection-item {
		border-bottom-width: 1pt !important;
	}

	li.collection-item {
		page-break-inside: avoid !important;
	}
}