.list-inscriptions {
	border: none;
	padding-bottom: 2rem;

	.title {
		font-size: 1.4rem;
		font-weight: 500;
		color: #444;
		display: block;
		line-height: 1.4;
		padding-right: 1rem;
		min-height: 32px;

		.disp {
			margin-left: 5px;
			vertical-align: middle;
			padding: 0 0.5rem;
			background-color: color('yellow', 'darken-2');

			i {
				margin: 0;
				padding: 0;
			}
		}
	}

	.btn-options {
		right: 8px;
	}

	.dni, .email {
		font-size: 1.1rem;
		display: block;
		line-height: 1.4;
		b {
			display: inline-block;
		}
	}

	span b {
		display: inline-block;
	}

	.icons-status {
		bottom: 16px;
	}
}

.icons-status {
	width: 18px;
	height: 18px;
	line-height: 20px;
	text-align: center;
	font-weight: 600;
	color: white;
	display: inline-block;
	position: absolute;
	bottom: 16px;
	right: 16px;
	cursor: default;
	@include border-radius(50%);
	@include user-select(none);
}

.modal-list {
	i.material-icons {
		font-size: 1rem;
		vertical-align: middle;
	}
}

.legend {
	vertical-align: middle;
	position: relative;
	padding: 10px 1rem 5px 1rem;

	label {
		display: inline-block;
		vertical-align: middle;
		height: auto;
		color: #444;
		margin-right: 1rem;
		padding-left: 1rem;

		&:last-child {
			margin-right: 0;
			border-left: 1px solid #ccc;
		}

		&:first-child {
			padding-left: 0;
		}

		span {
			width: 1rem;
			height: 1rem;
			margin-right:8px;
			vertical-align: sub;
		}
	}
}

.row {
	margin-bottom: 0;
}

#md-participant {
	p {
		margin: 0;
		padding: 5px 0;
		padding-left: 10rem;
		position: relative;
		min-height: 2rem;
		line-height: 1.4;
		border-bottom: 1px solid #f0f0f0;

		b {
			position: absolute;
			display: block;
			width: 9rem;
			text-align: right;
			left: 0;
		}
	}

	@media #{$small-and-down} {
		p {
			padding-left: 0;
			b {
				position: relative;
				width: auto;
				display: block;
				text-align: left;
			}
		}
	}
}