.register {

	#logo-reg {
		margin-top: 2rem;
		width: 80%;
		display: block;
		max-height: 80px;
	}

	.header-section {
		padding: 2rem 2rem 0 2rem;

		.title {
			font-size: 1.4rem;
			line-height: 1.3;
			font-weight: 600;
			color: #444;
			margin: 0;
		}

		.subtitle {
			font-size: 1.1rem;
			margin: .5rem 0 1rem 0;
			font-weight: 600;
			color: rgba(0, 0, 0, 0.54);
		}

		.description {
			color: #444;
			margin-top: 0;
		}
	}

	.body-section {
		padding: 0 2rem 0 2rem;

		.date, .time, .place, .address {
			display: block;
			font-size: 1rem;
			font-weight: 500;
			line-height: 24px;
			vertical-align: middle;

			i.material-icons {
				vertical-align: middle;
				margin-right: 8px;
				font-size: 1.2rem;
			}
		}

		.ubigeo {
			display: block;
			margin: 0;
			padding-left: 32px;

			.head {
				font-weight: 500;
				color: rgba(0, 0, 0, 0.54);
			}
			.value {
				font-weight: 500;
				color: #444;
			}
		}

		.header-theme {
			font-size: 1.3rem;
			margin-top: 1.5rem;
			margin-bottom: .5rem;
			font-weight: 600;
			color: rgba(0, 0, 0, 0.54);
			padding-left: 0px;
		}
		
		.collapsible {

			@include box-shadow(none);

			&.popout li:not(.active) {
				@include box-shadow(none);
			}

			.collapsible-header {
				min-height: auto !important;
				line-height: normal;
				padding: 0.5rem 2.5rem 0.5rem 32px;
				position: relative;

				.title {
					display: block;
					font-size: 1.1rem !important;
				}

				i.right { 
					margin: 0;
					position: absolute;
					right: 0;
					top: 0;
					line-height: auto;
					height: auto;
				}

				i.left {
					float: initial !important;
					position: absolute;
					left: 0;
					top: -0.15rem;
				}
			}

			.collapsible-body {
				padding: 0  0 1rem 0;

				p {
					padding: 0;
				}
			}
		}
		

		.blocktheme {
			margin-top: 0;
			padding: 0;
			border-left: none;

			.title {
				font-size: 1.4rem;
				color: #444;
				font-weight: 500;
				margin: 0;
			}

			.description {
				margin-top: 0;
				padding: 0.3rem 1rem 0 1rem;
				margin-bottom: 0;
				color: rgba(0, 0, 0, 0.64);
			}

			.header-stheme {
				font-size: 1.1rem;
				font-weight: 600;
				padding-left: 1rem;
				margin-top: 0.8rem;
				display: block;
				color: rgba(0, 0, 0, 0.54);
			}

			.blocksubtheme {
				margin: 0 0 0.5rem 1rem;

				.stitle {
					font-weight: 500;
					display: block;
				}

				.docente {
					display: block;
					font-weight: 500;
					color: #888;
					padding-left: 4.5rem;
					position: relative;

					&:before {
						content: 'Docente:';
						position: absolute;
						left: 0;
					}
				}
			}
		}
	}

	.empty-list {
		background-color: #f0f0f0;
		padding-top: 2rem;
		padding-bottom: 2rem;

		p {
			font-size: 1.2rem;
			text-align: center;
		}
	}

	.plazas {
		position: absolute;
		right: 0;
		top: 0;
		height: inherit;
		line-height: inherit;
		cursor: default;

		.count, i {
			vertical-align: middle;
		}
		.count {
			font-size: 1.2rem;
			font-weight: 500;
			letter-spacing: -1px;
		}
	}

	.personalize {
		background-color: #f0f0f0;
		font-size: 1.1rem;
		padding: 1rem;
		margin: 2rem 0 1rem 0;
	}

	@media #{$small-and-down} {
		#logo-reg {
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 1rem;
		}

		.header-section {
			padding: 1rem 0 0 0;
			.title {
				font-size: 1.3rem;
				text-align: center;
			}

			.subtitle { text-align: center; }
		}

		.body-section {
			padding: 0;

			.ubigeo {
				span {
					display: block;
				}
			}
		}

		.collapsible {

			li {margin: 0; }

			.collapsible-header {
				padding-left: 1rem !important;
				padding-right: 0 !important;
				position: relative;

				.title {
					font-size: 1.1rem;
					line-height: 1.4;
					padding: 0.5rem 48px 0 0;
					display: block;
					position: relative;

				}

				i:not(.right) {
					display: none;
				}
			}

			.blocksubtheme {
				padding-right: 0.5rem !important;
				padding-left: 0.5rem;
			}
		}
	}
}

form {
	margin-bottom: 5rem;
	padding: 0 2.5rem;

	.row {
		margin-bottom: 5px;
	}

	input[readonly='readonly'] {
		color: #444 !important;
	}

	.header-section {
		position: relative;
		height: 48px;
		line-height: 48px;
		font-size: 1.5rem;
		font-weight: 600;
		color: #999;
		border-bottom: 1px solid #9a9a9a;
		margin-top: 0;
		padding: 0 !important;
		margin-bottom: 1.5rem;
	}

	.title-page {
		font-size: 1rem;
		color: #666;
		font-weight: 400;
		margin: 0;
		padding: 1rem 0 1rem 0.5rem;
		background-color: #f0f0f0;
	}

	@media #{$small-and-down} {
		padding: 0 16px;
		.header-section {
			font-size: 1.2rem;
		}
	}
}

@media print {
	html, body {
		font-size: 12px !important;
	}

	header {
		display: none;
	}

	i.material-icons {
		font-size: 1.1rem !important;
	}

	form {
		page-break-before: always;
		padding: 0;
		margin: 2rem !important;

		.btn {
			display: none !important;
		}

		> p {
			display: none !important;
		}
	}

	button {
		display: none !important;
	}

	select {
		display: none !important;
	}

	.container {
		width: 100% !important;
		box-shadow: none !important;
	}

	.blocktheme, .blocksubtheme {
		padding: 0;
		border: none;
	}

	.blocktheme {
		margin: 0 -32px !important;
	}

	.header-section, .body-section {
		padding: 0;
		margin: 0;
	}

	.collapsible {
		margin: 0 !important;
		padding: 0 !important;
		&.popout {
			margin: 0 !important;
			padding: 0 !important;
			li, li.active {
				margin-left: 0 !important;
				padding-left: 0 !important;
			}
		}

		p {
			padding: 0;
			margin:0;
		}
	}

	.collapsible-body {
		padding: 0 !important;
		display: block !important;
		border-bottom: none !important;
	}

	.collapsible-header {
		min-height: auto !important;
		line-height: normal !important;
		padding-bottom: 0 !important;
		border-bottom: none !important;
		i.material-icons {
			display: none;
		}

		span {display: block; }
	}

	.row {
		margin-bottom: 0;
		input, select, textarea, .select-dropdown {
			margin-bottom: 0 !important;
		}
		

		.select-dropdown {
			color: transparent;
		}
	}

	.select-wrapper {
		background-color: white;
		span.caret {
			display: none;
		}
	}
}