@charset "UTF-8";

//@import "../global";
// Mixins
//@import "../../../lib/Materialize/sass/components/prefixer";
//@import "../../../lib/Materialize/sass/components/mixins";
@import "../../../lib/Materialize/sass/components/color";

@import "sistema/custom";
$roboto-font-path: "../fonts/roboto/";
// Variables;
@import "../../../lib/Materialize/sass/components/variables";

// Reset
@import "../../../lib/Materialize/sass/components/normalize";

// components
@import "../../../lib/Materialize/sass/components/global";
//@import "../../../lib/Materialize/sass/components/icons-material-design";
@import "../../../lib/Materialize/sass/components/grid";
//@import "../../../lib/Materialize/sass/components/navbar";
@import "../../../lib/Materialize/sass/components/roboto";
@import "../../../lib/Materialize/sass/components/typography";
@import "../../../lib/Materialize/sass/components/cards";
@import "../../../lib/Materialize/sass/components/toast";
@import "../../../lib/Materialize/sass/components/tabs";
@import "../../../lib/Materialize/sass/components/tooltip";
@import "../../../lib/Materialize/sass/components/buttons";
@import "../../../lib/Materialize/sass/components/dropdown";
@import "../../../lib/Materialize/sass/components/waves";
//@import "../../../lib/Materialize/sass/components/modal";
@import "../../../lib/Materialize/sass/components/collapsible";
@import "../../../lib/Materialize/sass/components/chips";
//@import "../../../lib/Materialize/sass/components/materialbox";
@import "../../../lib/Materialize/sass/components/forms/forms";
//@import "../../../lib/Materialize/sass/components/table_of_contents";
@import "../../../lib/Materialize/sass/components/sideNav";
@import "../../../lib/Materialize/sass/components/preloader";
//@import "../../../lib/Materialize/sass/components/slider";
@import "../../../lib/Materialize/sass/components/date_picker/default";
@import "../../../lib/Materialize/sass/components/date_picker/default.date";
@import "../../../lib/Materialize/sass/components/date_picker/default.time";

@import "../mixins";
@import "../sistema/app";

body { 
	background-color: #f0f0f0;

	@media #{$small-and-down} {
		background-color: white;
	}
}

header {
	display: block;
	height: 250px;
	margin-bottom: -7rem;
	background-color: $primary-color;

	.header-page {
		color: white;
		margin-top: 75px;
		font-size: 2.5rem;
		margin-left: 1rem;
		font-weight: 500;
	}

	@media #{$small-and-down}{
		height: 48px;
		line-height: 48px;
		margin-bottom: 0;

		.row {margin: 0;}

		.header-page {
			line-height: inherit;
			font-size: 1.4rem;
			margin-left: 0;
			margin-top: 0;
			margin-bottom: 0;
		}
	}
}

main {
	div.container {
		background-color: white;
		@extend .z-depth-1;

		.col { top: 0; }

		@media #{$small-and-down} {
			@include box-shadow(none);
		}
	}
}

.nav-options {
	background-color: #f0f0f0;
	height: 64px;

	.nav-wrapper {
		position: relative;
		height: 100%;
		width: 100%;
		z-index: 2;
	}

	.search-widget {
		max-width: 300px;
		position: absolute;
		right: 8px;
		top: 0;
		height: 100%;
		width: 0;
		@include transition(300ms cubic-bezier(0.4, 0, 0.2, 1));

		button.search-button,
		button.close-button {
			background: transparent center center no-repeat;
			background-size: 24px 24px;
			border: 0;
			display: block;
			height: 48px;
			overflow: hidden;
			line-height: 64px;
			top: 8px;
			width: 48px;
			z-index: 2;
			@include border-radius(50%);
		}

		.input-wrapper {
			width: 100%;
			height: 100%;
			position: relative;
			padding-right: 8px;

			button.close-button { 
				position: absolute;
				top: 8px;
				right: 0;
				display: none;
			}

			input {
				position: relative;
				top: 1.2rem;
				width: 100%;
				padding: 0;
				margin: 0;
				line-height: 2rem;
				height: auto;
			}
		}

		button.search-button {
			position: absolute;
			left: -56px;
			top: 8px;
		}

		&.opened {
			width: 100%;

			button.close-button {
				display: inline-block;
			}
		}
	}

	.nav-collection {
		max-width: 50%;
		position: relative;
		height: 100%;
		margin: 0;
		padding: 0;

		li.item-nav-collection {
			position: relative;
			height: 100%;
		}

		.input-field {
			margin: 0;
			height: 100%;
			padding-left: 24px;
			vertical-align: middle;

			select {
				position: relative;
				background-color: transparent;
				height: auto;
				top: 1.2rem;
				width: 250px;
				margin-left: 2.4rem;
				border: none;
				border-bottom: 1px solid #9e9e9e;
				margin-bottom: 4px;
				outline: 0;
				color: #555;
				font-weight: 500;

				&:focus:not([readonly]) {
					border-bottom: 1px solid $secondary-color;
    				box-shadow: 0 1px 0 0 $secondary-color;
				}

				option.default {
					color: #666;
				}
			}

			i.prefix { top: 25%; }
		}
	}

	@media #{$small-and-down} {
		margin-left: -1rem;
		margin-right: -1rem;

		.nav-collection {
			.input-field {
				padding-left: 8px;

				select {
					width: 200px;
					top: 1.15rem;
				}
			}
		}

		.search-widget {
			max-width: 253px;
			background-color: #eee;

			button.search-button,
			button.close-button {
				background-color: #eee;
				left: -47px;
				@include border-radius(none);
			}
		}
	}
}

.collection-sep {
	margin-top: 0;
	margin-bottom: 5rem;

	.sep-item {
		font-size: 1.1rem;
		font-weight: 600;
		color: rgba(0, 0, 0, .54);
		line-height: 48px;
		padding-left: 32px;
		min-height: 48px;
		margin-top: 1rem;
		&:first-child { margin-top: 0; }

	}

	.collection-item {
		padding: 1rem 0;
		margin: 0 32px;
		border-bottom: 1px solid #d9d9d9;

		.title {
			margin: 0;
			position: relative;
			display: block;
			font-size: 1.3rem;
			line-height: 1.4;

			> a {
				color: #444;
				font-weight: 500;

				&:hover {
					text-decoration: underline;
				}
			}

			.btn-options {
				right: 1rem;
				height: auto;
				width: auto;
				line-height: normal;
			}
		}

		.description {
			margin: 0.2rem 0;
			line-height: 1.2;
			font-weight: 500;
			color: #666;
		}

		.date, .time, .place, .address {
			display: inline-block;
			font-size: 1rem;
			position: relative;
			line-height: 1.2;
			color: #666;
			padding-right: 0.5rem;
			margin-right: 0.5rem;
			display: block;

			i {
				line-height: inherit;
				vertical-align: middle;
				font-size: 1em;
				margin-right: 8px;
			}

			@media #{$small-and-down} {
				line-height: 1.3;
			}
		}

		@media #{$medium-and-up} {
			.date, .time {
				display: inline-block;

				i, time {
					vertical-align: middle;
				}

				i {
					margin-right: 6px;
				}
			}
		}

		@media #{$small-and-down} {
			.time, .date {
				display: inline-block;
				padding: 1rem .2rem;
				width: 49%;
				background-color: #e0e0e0;
				color: #222;
				text-align: center;
				margin-right: 0;
				margin-bottom: 1rem;
				font-size: 1rem;
				font-weight: 600;
				letter-spacing: -1px;

				i {
					font-size: 24px;
					display: block;
				}
			}
		}
	}

	@media #{$small-and-down} {
		.sep-item {
			font-size: 16px;
			padding-left: 0;
		}

		.collection-item {
			margin: 0;
		}
	}
}

.empty-list {
	padding: 1.5rem 1rem;
	margin: 0;

	h4 {
		font-size: 1.8rem;
		color: color('grey', 'darken-2');
		text-align: center;
		@include user-select(none);
	}
}

@import "registration";