html {
    font-weight: lighter;
    font-weight: normal;
}
body:not(.no-body-app) {
	background-color: #f0f0f0;
	main .container {
		margin-top: -6rem;
		background-color: white;
		min-height: 300px;
		@extend .z-depth-1;

		@media #{$large-and-up} {
			min-height: 400px !important;
		}
	}

	@media #{$large-and-up} {
		main, footer, header {
			padding-left: 240px;
		}
		main > div.container, nav > div.container {
			width: 85%;
		}
	}

    @media #{$small-and-down} {
        background-color: white;
        main .container {
            margin-top: 0;
            padding-top: 2.5rem;
            box-shadow: none;
        }
    }
}

.pg-body {
	position: fixed;
	z-index: 2000;
	height: 3px;
	margin: 0;
	background-color: white;
}

.fixed-action-btn {
    .btn-floating.btn-large {
        width: 56px;
        height: 56px;
        line-height: 56px;
        i { line-height: 56px; }
    }

    @media #{$small-and-down} {
        bottom: 24px !important;
    }
}

.inner {
    padding: 3rem 1rem;

    @media #{$small-and-down}{
        padding-left: 0;
        padding-right: 0;
    }
}
    
ul.collection-main {
    margin: 0;
    border: none;
    width: auto;
    overflow: initial;

    li.collection-item {
        padding: 1rem;
        position: relative;
        border-bottom: 1px solid #e9e9e9;

        > .title {
            display: block;
            cursor: pointer;
            font-size: 1.3rem;
            font-weight: 500;
            margin: 0;
            color: #555;
            padding-right: 24px;
        }

        > .description {
            display: block;
            font-size: 1rem;
            font-weight: normal;
        }

        > .last-modified {
            font-size: .85rem;
            color: #777;
        }
    }

    li.empty {
        font-size: 1.3rem;
        font-weight: 500;
        color: #666;
    }
}

button.btn-options {
    background-color: transparent;
    width: 36px;
    height: 32px;
    text-align: center;
    position: absolute;
    top: .65em;
    right: 0;
    border: none;
    padding: 0 6px;

    i {
        line-height: 32px;
    }
}


.white-popup {
	position: relative;
    background: #FFF;
    width: auto;
    max-width: 500px;
    margin: 20px auto;
    @extend .z-depth-2;

    .popup-header {
        padding: 24px 24px 0 24px;
        .title {
            display: block;
            font-size: 1.4rem;
            font-weight: 500;
            margin: 0 0 20px 0;
            padding-right: 48px;
            color: #212121;
        }
    }

    .popup-body {
        padding: 0 24px;
        height: auto;
        @include transition(height 300ms cubic-bezier(0,0,0.2,1));
        .message {
            color: #212121;
            margin: 0 0 1.5rem 0;
            font-size: 1.1rem;

            span.note {
                line-height: normal;
                font-size: 0.9rem;
            }
        }
        .no-mar-bottom {
        	margin-bottom: 0 !important;
        }
    }

    .popup-footer {
        padding: 24px 24px 16px 24px;
        text-align: right;
        margin: 0;

        button {
            padding: 0 8px;
            margin: 0;
            min-width: 64px;
            color: #212121;
            font-weight: 500;

            &:hover {background-color: #ddd; }
            &:active {background-color: #bbb; }

            &:last-child {
                margin-left: 8px;
                color: $secondary-color;
                &:hover, &:focus {
                    background-color: lighten($secondary-color, 45%);
                }
                &:active {
                    background-color: lighten($secondary-color, 35%);
                }
                &:disabled {
                    color: #444;
                    background-color: #eee;
                }
            }
        }
    }

    .progress {
        height: 2px;
        position: absolute;
        bottom: 0;
        left: 0;
        margin: 0;
    }

    .mfp-close {
        top: 13px !important;
        right: 12px !important;
        &:active, &:focus {
            top: 0;
            background-color: transparent;
        }
    }
}

.input-field {
    margin-bottom: .5rem;
    position: relative;

    .progress {
        margin: 0;
        position: absolute;
        bottom: 14px;
        width: calc(100% - 1.5rem);
        height: 2px;
    }

    label {
        width: 85%;
    }

    label:after { top: 65px !important; }
    .materialize-textarea ~ label.active {
        @include transform(translateY(-64%));
    }

    .browser-default {
        position: relative;
        cursor: pointer;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #9e9e9e;
        outline: none;
        height: 3.1rem;
        line-height: 3.1rem;
        width: 100%;
        font-size: 1rem;
        margin: 0 0 15px 0;
        padding: 0;
        display: block;

        &:focus {
            border-bottom: 1px solid $secondary-color;
            box-shadow: 0 1px 0 0 $secondary-color;
        }
    }

     i.prefix {
        line-height: inherit;
        height: inherit;
     }
}

.picker__box {
    .picker__header {
        margin-bottom: .75em;
        select {
            border: 1px solid transparent;
            border-bottom: 1px solid #9e9e9e;
            outline: none !important;
            margin-top: 1px;
            display: inline-block;
            &:focus {
                border-bottom: 1px solid $secondary-color;
                @include box-shadow(0 1px 0 0 $secondary-color);
            }
            &:first-child { width: 4.8rem; }
            &.picker__select--month { width: 8.2rem; }
        }

        [class*='picker__nav']{
            top: .35em;
            padding: 0.5em .8em;
            &.picker__nav--prev {
                left: 0;
            }
            &.picker__nav--next {
                right: 0;
            }
            &:hover { background-color: transparent; }
        }
    }

    .picker__table {
        thead { 
            border-bottom-color: #e0e0e0;
            text-transform: uppercase; 
            th {
                font-size: .85rem;
                color: #444;
                font-weight: normal;
            }
        }
    }

    .picker__footer {
        .picker__button--clear,
        .picker__button--close,
        .picker__button--today {
            @extend .btn-flat;
            padding-left: 1rem;
            padding-right: 1rem;
            font-size: 1.05rem;
            font-weight: 500;
            color: #555;
        }

        .picker__button--clear:before,
        .picker__button--close:before,
        .picker__button--today:before {
            content: none;
        }
    }
    
    /* PICKER TIME */
    .picker__list {
        padding-bottom: 1rem;

        .picker__list-item {
            font-size: 1rem;
            font-weight: 500;
            color: color("grey", 'darken-2');

            &:hover {
                background-color: color("grey", 'lighten-2');
                border-color:color("grey", 'lighten-2');
            }
        }

        .picker__list-item--selected, 
        .picker__list-item--selected:hover, 
        .picker--focused .picker__list-item--selected {
            background-color: $secondary-color;
            border-color: $secondary-color;
            color: #fff;
        }
    }

    .picker__button--clear {
        width: 100%;
        font-size: 1rem;
        
        &:active, &:focus, &:hover {
            background-color: $primary-color;
        }
    }
}

.dropdown-content {
    padding: 16px 0;
    li  {
        min-height: auto;

        a, button {
            border: none;
            background-color: transparent;
            width: 100%;
            padding: 0 24px;
            display: block;
            height: 48px;
            line-height: 48px;
            color: #555;
            font-weight: 500;
            font-size: 1.05rem !important;
            text-indent: initial;
            text-align: left;

            i {
                line-height: inherit;
                height: inherit;
                margin-right: 16px;
                float: left;
            }

            &:disabled {
                color: #999;
                &:hover {
                    background-color: white !important;
                }
            }
        }
    }
}

.searcher {
    height: 64px;
    padding: 0 64px;
    position: relative;
    background-color: white;

    &.in-modal {
        margin-left: -24px;
        margin-right: -24px;
    }

    input[type=search] {
        height: 24px;
        border: none;
        padding: 8px 0;
        font-size: 20px;
        margin: 10px auto;

        &:focus, &:valid { 
            border: none; 
            box-shadow: none;
        }

        &:placeholder {
            color:#313131;
        }
    }

    label, .clear_search {
        position: absolute;
        top: 18px;
    }

    label { left: 18px; } 
    .clear_search { 
        right: 24px; 
        opacity: 0;
        cursor: pointer;
        @include transition(opacity .3s);
    }

    &.active {
        .clear_search { opacity: 1; }
    }
}

.modal-list {
    margin: 0;
    margin-left: -24px;
    margin-right: -24px;
    border: none;
    max-height: 300px;
    overflow-y: auto;
    border-top: 1px solid #e9e9e9;
    @include transition(all .6s linear);

    li.collection-item {
        background-color: transparent;
        padding: 0 0 0 24px;
        position: relative;

        input[type="radio"] + label:before,
        input[type="radio"]:checked + label:before,
        input[type="radio"] + label:after,
        input[type="radio"]:checked + label:after,
        input[type="checkbox"] + label:before,
        input[type="checkbox"]:checked + label:before,
        input[type="checkbox"] + label:after,
        input[type="checkbox"]:checked + label:after {
            left: auto;
            right: 8px;
        }

        label {
            color: #454545;
            font-size: 1rem;
            display: block;
            height: auto;
            line-height: 1.3;
            padding-left: 0;
            padding-right: 40px;
            font-weight: 500;

            &:before, &:after {
                margin:2px 4px;
            }

            span { display: block; }

            .title {
                font-size: 1.2rem;
                line-height: 1.2;
                margin-bottom: 3px;
                display: block;
                color: #444;
            }

            .title2 {
                font-size: .95em;
                color: #666;
                vertical-align: middle;

                span, time, p {
                    vertical-align: middle;
                }

                i.material-icons {
                    font-size: 1em;
                    vertical-align: middle;
                }
            }
            .title3 {
                font-size: .85em;
                color: #888;
            }
        }

        p {
            margin: .8rem 0;
        }
    }
}

.empty-list {
    padding: 1.5rem 1rem;
    margin: 0;
    @include user-select(none);

    h4 {
        font-size: 1.8rem;
        color: color('grey', 'darken-2');
        text-align: center;
    }

    p {
        text-align: center;
        font-weight: 500;
        color: color('grey', 'darken-1');
    }
}

.copy {
    max-width: 100%!important;
    margin-bottom: 5px;

    em {
        color: #707070;
        font-family: Arial;
        font-size: 0.85rem;
        text-align: center;
        letter-spacing: -0.25px;
        display: block;
    }
}

.collection-table {
    margin: 0;
    margin-bottom: 10px;
    border: none;

    .row { 
        padding: 8px 0;
        margin: 0; 
    }
    .col {
        padding-left: 5px; 
        padding-right: 0;
    }

    .th {
        font-weight: 500;
        font-size: .9rem;
        color: #555;

        @media #{$small-and-down} {
            text-align: center !important;
            display: block;
        }
    }

    .td {
        color: #444;
        display: block;
        @media #{$small-and-down} {
            text-align: center !important;
            padding-bottom: 5px;
        }
    }

    .th, .td {
        line-height: 1;
        margin: 0;
    }
}

@media only print {
    *, html, body {
        font-size: 12pt;
    }
    header, 
    nav, 
    footer,
    .searcher,
    label:before,
    label:after,
    .hide-print {
        display: none !important;
    }

    main {
        padding-left: 0 !important;
    }

    .container {
        box-shadow: none !important;
        width: 100% !important;
        border: none;
        margin: 0 !important;
        padding: 0 !important;

        .inner {
            padding: 0 !important;
            margin: 0 !important;
        }
    }

    ul.collection, ul.collection-sep, ul.collection-main {
        li .title3 {
            page-break-after: avoid !important;
            break-after: avoid !important;
        }
    }

    .collection-item {
        padding: 0 !important;
        margin: 0 !important;
        padding: 10px 0 !important;

         p {
            margin: 0 !important;
            padding: 0 !important;
         }
    }

    .fixed-action-btn {
        display: none !important;
    }
}

.material-tooltip {
  font-size: 0.8rem;
  padding-top: 8px;
  padding-bottom: 8px;
  line-height: normal;
  min-height: auto;
}