header {
	nav.navbar {
		background-color: $primary-color;
		@extend .z-depth-1;
		
		&.top-nav {
		    height: 16rem;
		    box-shadow: none;

		    .page-title {
		    	padding-top: 75px;
				font-size: 2.5rem;
				color: white;
				display: block;
				font-weight: 500;
				padding-left: 16px;
				position:relative;

				button {
					background: transparent center center no-repeat;
					background-size: 24px 24px;
					border: 0;
					display: block;
					height: 48px;
					width: 48px;
					z-index: 2;
					position: absolute;
					left: 0;
					top: 3.1rem;
					vertical-align: middle;
					white-space: nowrap;
					line-height:normal;
					cursor:pointer;

					i {
						color: rgba(0,0,0,0.54);
						width: 24px;
						vertical-align:middle;
					}

					&:focus {
						outline:1px solid rgba(255,255,255,0.87);
					}
				}

				small {
					font-size: 1rem;
					color: rgba(255,255,255,.4);
					vertical-align: middle;
				}
		    }

		    @media #{$medium-and-down} {
		    	.page-title {
		    		font-size: 2rem;
		    		padding-left: 4rem;
		    		padding-top: 48px;
		    	}
		    }

		    @media #{$small-and-down} {
		    	height: 4.5rem;
		    	margin-top: 0;
		    	position: fixed;
		    	z-index: 5;
		    	width: 100%;

		    	.page-title {
		    		padding-top: 18px;
		    		padding-left: 4rem;
		    		font-size: 1.4rem;
		    		opacity: .95;

		    		button {top: .5rem;}
		    		small { font-size:.8rem; }
		    	}
		    }
		}
	}

	.side-nav {
		background-color: white;
		overflow: auto;

		.menu {
			padding: 0;
			margin: 0 0 1rem 0;

			.menu-item {
				padding: 0;
				font-size: 14px;

				a {
					padding: 0 16px;
					margin: 0;
					height: 48px;
					line-height: 48px;
					font-weight: 500;
					font-size: .95rem;
					color: #444;
					@include transition(color 200ms cubic-bezier(0,0,0.2,1) );

					&:hover {
						color: #444;
					}

					> i, span {
						vertical-align: middle;
					}

					i {
						margin-right: 8px;
					}
				}

				&.no-pad {
					padding: 0;
					.collapsible {
						li {
							line-height: inherit;
							.collapsible-header {
								padding: 0 16px;
								margin: 0;
								i { 
									width: inherit;
									display: inline-block;
									float: none;
								}
							}
						}
					}
				}

				&.current > a,
				&.current ul.collapsible > li > a {
					color: $primary-color !important;
					font-weight: 600;
				}

				&.user-info {
					line-height: normal;
					padding: 16px 16px 8px 16px;
					background-color: #f0f0f0;
					margin-top: 0;
					margin-bottom: 8px;
					position: relative;

					p { 
						margin: 0;
						height: 56px;
						line-height: 56px;
					}

					span.icons {
						display: block;
						width: 48px;
						height: 48px;
						line-height: 48px;
						background-color: $primary-color;
						text-align: center;
						color: rgba(255,255,255, 0.95);
						@include border-radius(50%);
						font-size: 24px;
						font-weight: 600;
					}

					span.name {
						font-size: .95rem;
						position: relative;
						top: 25%;
						line-height: 1.3;
						font-weight: 500;
						display: block;
						color: #555;
						@extend .truncate;
					}

					span.admin {
						display: block;
						font-size: .85rem;
						font-weight: normal;
					}
				}

				&.logo {
					height: auto;
					overflow: initial;
					background: #fff;
					padding: 0.5rem 0;
					a {
						padding: 0;
						margin: 0;
						height: auto;
						display: block;
						line-height: 0;

						img, object {
							width: 70%;
							margin: auto;
							display: block;
						}
					}
				}
			}
		}

		.submenu {
			background-color: #f5f5f5;
			padding-bottom: 8px;

			li {
				a {
					padding-left: 48px !important;
					font-size: .90em !important;
					font-weight: normal;
					color: #666 !important;
				}

				&.current a {
					color: $secondary-color !important;
					font-weight: 500;
				}
			}
		}

		li:hover, li.active {
			background-color: transparent;
		}
	}
}


