.list-participant {
	border: none;
	padding-bottom: 2rem;

	.title {
		font-size: 1.4rem;
		font-weight: 500;
		color: #444;
		display: block;
		line-height: 1.4;
		padding-right: 1rem;
	}

	.btn-options {
		right: 8px;
	}

	.dni, .email, .profesion {
		font-size: 1.1rem;
		display: block;
		line-height: 1.4;
		b {
			display: inline-block;
		}
	}

	span.title2 {
		display: block !important;
	}

	span b {
		display: inline-block;
	}
}

.dispacity {
	color: color("orange", "darken-2");
	position: absolute;
	top: 0.8rem;
	right: 32px;
}

.icons-status {
	width: 18px;
	height: 18px;
	line-height: 20px;
	text-align: center;
	font-weight: 600;
	color: white;
	display: inline-block;
	position: absolute;
	bottom: 1rem;
	right: 8px;
	cursor: default;
	@include border-radius(50%);
	@include user-select(none);
}

.title2 {
	display: block;
}

#md-participant {
	p {
		margin: 0;
		padding: 5px 0;
		padding-left: 10rem;
		position: relative;
		min-height: 2rem;
		line-height: 1.4;
		border-bottom: 1px solid #f0f0f0;

		b {
			position: absolute;
			display: block;
			width: 9rem;
			text-align: right;
			left: 0;
		}
	}

	@media #{$small-and-down} {
		p {
			padding-left: 0;
			b {
				position: relative;
				width: auto;
				display: block;
				text-align: left;
			}
		}
	}
}