.register {

	.header-section {
		padding: 2rem 2rem 0 2rem;

		.title {
			font-size: 1.8rem;
			font-weight: 600;
			color: #444;
			margin: 0;
		}

		.subtitle {
			font-size: 1.1rem;
			margin: .5rem 0 1rem 0;
			font-weight: 600;
			color: rgba(0, 0, 0, 0.54);
		}

		.description {
			color: #444;
			margin-top: 0;
		}
	}

	.body-section {
		padding: 0 2rem 0 2rem;

		.date, .time, .place, .address {
			display: block;
			font-size: 1rem;
			font-weight: 500;
			height: 32px;
			line-height: 32px;
			vertical-align: middle;

			i {
				vertical-align: middle;
				margin-right: 8px;
			}
		}

		.ubigeo {
			display: block;
			margin: 0;
			padding-left: 32px;

			.head {
				font-weight: 500;
				color: rgba(0, 0, 0, 0.54);
			}
			.value {
				font-weight: 500;
				color: #444;
			}
		}
	}

	.personalize {
		background-color: #f0f0f0;
		font-size: 1.1rem;
		padding: 1rem;
		margin: 2.5rem 0 1rem 0;
	}

	@media #{$small-and-down} {
		.header-section {
			padding: 1rem 0 0 0;
			.title {
				font-size: 1.5rem;
			}
		}
		.body-section {
			padding: 0;

			.ubigeo {
				span {
					display: block;
				}
			}
		}
	}
}

form.frm_new_inscription {
	margin-bottom: 5rem;
	padding: 0 2.5rem;

	.row {
		margin-bottom: 5px;
	}

	input[readonly='readonly'] {
		color: #444 !important;
	}

	.header-section {
		position: relative;
		height: 48px;
		line-height: 48px;
		font-size: 1.5rem;
		font-weight: 600;
		color: #999;
		border-bottom: 1px solid #9a9a9a;
		margin-top: 0;
		padding: 0 !important;
		margin-bottom: 1.5rem;
	}

	@media #{$small-and-down} {
		padding: 0 16px;
		.header-section {
			font-size: 1.2rem;
		}
	}
}

@media print {
	html, body {
		font-size: 12px !important;
	}

	header {
		display: none;
	}

	i.material-icons {
		font-size: 1.1rem !important;
	}

	form {
		page-break-before: always;
		padding: 0;
		margin: 2rem !important;

		.btn {
			display: none !important;
		}

		> p {
			display: none !important;
		}
	}

	button {
		display: none !important;
	}

	select {
		display: none !important;
	}

	.container {
		width: 100% !important;
		box-shadow: none !important;
	}

	.blocktheme, .blocksubtheme {
		padding: 0;
		border: none;
	}

	.blocktheme {
		margin: 0 -32px !important;
	}

	.header-section, .body-section {
		padding: 0;
		margin: 0;
	}

	.collapsible {
		margin: 0 !important;
		padding: 0 !important;
		&.popout {
			margin: 0 !important;
			padding: 0 !important;
			li, li.active {
				margin-left: 0 !important;
				padding-left: 0 !important;
			}
		}

		p {
			padding: 0;
			margin:0;
		}
	}

	.collapsible-body {
		padding: 0 !important;
		display: block !important;
		border-bottom: none !important;
	}

	.collapsible-header {
		min-height: auto !important;
		line-height: normal !important;
		padding-bottom: 0 !important;
		border-bottom: none !important;
		i.material-icons {
			display: none;
		}

		span {display: block; }
	}

	.row {
		margin-bottom: 0;
		input, select, textarea, .select-dropdown {
			margin-bottom: 0 !important;
		}
		

		.select-dropdown {
			color: transparent;
		}
	}

	.select-wrapper {
		background-color: white;
		span.caret {
			display: none;
		}
	}
}