@charset "UTF-8";

// Mixins
@import "../../../lib/Materialize/sass/components/prefixer";
@import "../../../lib/Materialize/sass/components/mixins";
@import "../../../lib/Materialize/sass/components/color";

@import "../sistema/custom";
$roboto-font-path: "../font/roboto/";
// Variables;
@import "../../../lib/Materialize/sass/components/variables";

// Reset
@import "../../../lib/Materialize/sass/components/normalize";

// components
@import "../../../lib/Materialize/sass/components/global";
@import "../../../lib/Materialize/sass/components/grid";
@import "../../../lib/Materialize/sass/components/roboto";
@import "../../../lib/Materialize/sass/components/typography";
@import "../../../lib/Materialize/sass/components/buttons";
@import "../../../lib/Materialize/sass/components/materialbox";
@import "../../../lib/Materialize/sass/components/forms/forms";
@import "../../../lib/Materialize/sass/components/dropdown";
@import "../../../lib/Materialize/sass/components/toast";
@import "../../../lib/Materialize/sass/components/preloader";

body {
	font-weight: normal;
}

body.login{
	background-color: #f0f0f0;

	header {
		height: 250px;
		background-color: $primary-color;

		h1 {
			color: white;
			font-size: 2.5rem;
			margin-left: 1rem;
			font-weight: 500;
		}
	}

	main.container {
		margin-top: -11rem;
		background-color: #fff;
		@extend .z-depth-1;

		& div.inner {
			padding: 3rem;

			form {
				max-width: 350px;
				margin: 0.5rem auto 4rem auto;
			}
		}

		button[type=submit] {
			background-color: $secondary-color;
			width: 100%;
			margin-top: 1rem;
		}

		.text-description {
			color: #666;
			font-size: .95rem;
			line-height: 1.6;
		}
	}

	@media #{$small-and-down} {
		background-color: white;

		header {
			height: 64px;
			line-height: 64px;
			h1 {
				line-height: inherit;
				font-size: 2rem;
				margin: 0;
				margin-left: 2.5rem;
			}
		}

		main.container {
			margin-top: 0;
			box-shadow: none;

			div.inner {
				padding: 0;
				padding-top: 1rem;
			}
		}

		.text-description {
			text-align: center;
		}
	}

	.select-wrapper {
		margin-left: 3rem;
	}

	.row {
		margin-bottom: 0;
	}

	.logo {
		display: block;
		width: 30%;
		margin: auto;

		@media #{$medium-and-down} {
			width: 40%;
		}

		@media #{$small-and-down} {
			width: 70%;
		}
	}

	.input-field i.prefix {
		line-height: inherit;
		vertical-align: middle;
		height: inherit;
		color: #666;
	}

	.dropdown-content {
		span {
			color: #555;
			font-weight: 500;
			font-size: 1rem;
		}
	}
}

body.valid_docente {
	background-color: #f0f0f0;
	padding-bottom: 2rem;

	.container {
		background-color: #fff;
		padding: 2rem 0;
		@extend .z-depth-1;

		.row {
			margin: 0;
			margin-bottom: 20px;
		}
	}

	.title-page {
		margin: 0;
		font-size: 2rem;
		font-weight: 600;
		color: #555;
		text-align: center;
		margin-top: 1rem;
	}

	.description-page {
		text-align: center;
		font-weight: 500;
		color: #666;
	}

	.basic-info {
		padding-top: 1rem;
		padding-bottom: 1rem;
		background-color: #e9e9e9;
	}

	.descript {
		display: block;
		margin-bottom: 10px;
		color: #666;
		font-weight: 500;
		text-align: center;

		b { color: #444; }
	}

	.data-created {
		display: block;
		margin: 2rem 0 0 0 !important;
		font-size: 1rem;
		text-align: center;
	}

	.title span, .title small {
		display: block;
		text-align: center;

		i {
			display: block;
			text-align: center;
			font-size: 24px;
		}
	}

	.title {
		margin: 0;
		span {
			font-size: 1.8rem;
			font-weight: 600;
			color: #666;
			border-bottom: 1px solid #9e9e9e;
			margin-bottom: 1rem;
			padding-bottom: 1rem;
		}

		small {
			color: #666;
			font-weight: 500;
			font-size: 1.4rem;
		}
	}

	.btn-large {
		margin: 1rem auto;
		display: block;
		max-width: 50%;
	}

	@media #{$small-and-down} {
		background-color: white;

		.container {
			box-shadow: none !important;
		}

		.col {
			padding: 0 0.75rem !important;
		}

		.btn-large {
			display: block;
			margin-top: 1rem;
			max-width: none;
		}
	}
}