.row {
	margin-bottom: 0;
}

.program_index {

	.input-field {
		margin-top: 0;
		> select {
			margin-left: 48px;
			width: calc(100% - 72px);
		}
	}

	@media #{$small-and-down} {
		padding-top: 4.5rem !important;
	}
}

#md-get-url {
	textarea {
		height: 3.5rem !important;
		resize: none;
		outline: none;
		padding-left: 1rem;
		color: #222;
		font-weight: 500;
	}
}

.collection-sep {
	margin-top: 0;
	margin-bottom: 5rem;

	.sep-item {
		font-size: 1.1rem;
		font-weight: 600;
		color: rgba(0, 0, 0, .64);
		line-height: 48px;
		padding-left: 16px;
		min-height: 48px;
		margin-top: 1rem;
		&:first-child { margin-top: 0; }

	}

	.collection-item {
		padding: 1rem 0;
		margin: 0 32px;
		padding-right: 56px;
		position: relative;
		border-bottom: 1px solid #d9d9d9;

		@media #{$small-and-down}{
			padding-bottom: 0;
		}

		.icons-status {
			width: 18px;
			height: 18px;
			line-height: 18px;
			text-align: center;
			font-weight: 600;
			font-size: .9rem;
			color: white;
			display: inline-block;
			position: absolute;
			top: 1rem;
			right: 3rem;
			cursor: default;
			@include border-radius(50%);
			@include user-select(none);
		}

		.number-reg {
			display: inline-block;
			position: absolute;
			bottom: 0.5rem;
			right: 1rem;
			font-size: .9rem;
			background-color: #bbb;
			color: white;
			font-weight: 500;
			letter-spacing: -1px;
			line-height: normal;
			padding: 1px 5px 2px 2px;
			vertical-align: sub;
			@include border-radius(5px);

			i, span {
				display: inline-block;
				vertical-align: middle;
				color: white;
				font-size: 1.1em;
				margin: 0;
				padding: 0;
				line-height: normal;
				margin-left: 3px;
			}
		}

		.file_url {
			position: absolute;
			right: 1rem;
			bottom: 2.5rem;
			line-height: 1rem;
			height: 32px;
			padding: 0 0.5rem;

			i {
				margin: 0;
				padding: 0;
				font-size: 1rem;
			}
		}

		.btn-options {
			top: 8px;
			height: 32px;
			width: 32px;
			line-height: 32px;
			right: 8px;
			text-align: center;

			i { margin-left: -2px; }
		}

		.title {
			margin: 0;
			position: relative;
			display: block;
			font-size: 1.3rem;
			margin-bottom: 0.5rem;

			> a {
				color: #444;
				font-weight: 500;

				&:hover {
					text-decoration: underline;
				}
			}
		}

		.date, .time, .place, .address {
			display: inline-block;
			position: relative;
			font-size: .95rem;
			line-height: 1;
			font-weight: 500;
			margin-right: 0.5rem;
			margin-bottom: .6rem;
			padding-left: 1.5rem;
			color: color("grey", "darken-1");

			i {
				line-height: inherit;
				vertical-align: middle;
				font-size: 1.2em;
				position: absolute;
				left: 0;
			}
		}

		.place {
			display: block;
			margin-bottom: 3px;
		}
	}

	@media #{$small-and-down} {
		.sep-item {
			font-size: 16px;
			padding-left: 0;
		}

		.collection-item {
			margin: 0;
		}
	}
}

.collection-main {

	max-height: initial !important;

	li.collection-item {
		padding: 0.5rem 0 !important;
	}

	.title {
		min-height: 32px;
		line-height: normal;
		display: block;
		padding-right: 32px;

		.chip {
			margin-left: 5px;
			vertical-align: bottom
		}
	}
	
	.title2 {
		display: block;
		padding-right: 32px;
	}
	.assis {
		position: absolute;
		bottom: 1.5rem;
		right: 0;
		height: 1rem;
		line-height: 1rem;
		width: 1rem;
		padding: 0;
		z-index: 2;
		@include border-radius(50%);
	}

	.disp {
		padding: 0 0.5rem;
		background-color: color('yellow', 'darken-2');

		i {
			margin: 0;
			padding: 0;
		}
	}
}