#frm_manage_program {
	padding: 2rem 32px 5rem 32px;

	@media #{$small-and-down} {
		padding: 3rem 1.1rem;
	}

	.row {
		margin-bottom: 20px;
	}

	.header-title {
		min-height: 48px;
		line-height: 48px;
		font-size: 1.2rem;
		font-weight: 600;
		color: rgba(0, 0, 0, 0.48);
		margin: 0;
		margin-bottom: 1rem;
		position: relative;
		border-bottom: 1px solid #ccc;

		label {
			text-decoration: normal;
			font-weight: inherit;
			font-size: 1.2rem;
			font-weight: 600;
			color: rgba(0, 0, 0, 0.48);
			font-style: normal;
			display: block;
			padding-left: 0;
		}

		input[type="checkbox"] + label:before,
        input[type="checkbox"]:checked + label:before,
        input[type="checkbox"] + label:after,
        input[type="checkbox"]:checked + label:after {
            left: initial;
            right: 1rem !important;
        }

        input[type="checkbox"].filled-in:checked+label:before {
        	left: initial !important;
        	right: 1.7rem !important;
        	top: 0;
        }

		> i.material-icons {
			color: #444;
			vertical-align: sub;
			margin-right: 8px;
		}
	}
}

button.btn-options {
	position: absolute;
	right: 0;
	height: 48px;
	width: 48px;
	line-height: 48px;
	border:0;
	background-color: white;
	@include border-radius(50%);

	i {
		line-height: inherit;
		height: inherit;
	}
}

.modal-list.no-check {
	padding: 0 16px;
	li {
		padding: 0;
		@include user-select(none);

		a {
			display: block;
			font-size: 1.1rem;
			padding: 0.8rem 8px;
			color: #444;
			font-weight: 500;
			cursor: pointer;
			@include user-select(none);
			@include transition(background-color .3s cubic-bezier(0,0,0.2,1));
		}

		&:hover, &:active {
			background-color: #f0f0f0;
			a {
				color: #444;
			}
		}

		&.active {
			background-color: #eee;
			a {
				&:hover, &:active {
					color: #222;
				}
			}

			&:hover, &:active {
				background-color: #eee;
			}
		}
	}
}

.blocktheme {
	margin: 0;
	border-bottom: 1px solid #e5e5e5;
	padding-top: 1rem;
	padding-left: 0.8rem;

	.title {
		display: block;
		position: relative;
		font-size: 1.2rem;
		color: #444;
		font-weight: 500;
		vertical-align: sub;
		line-height: 1.3;
		margin-bottom: 1rem;

		.btn-options {
			position: initial;
			i {font-size: 1em; }
		}
	}
}

.section-header {
	font-size: 1.1rem;
	display: block;
	font-weight: 500;
	color: #888;
	margin: 0;
}

.blocksubtheme {
	margin: 0;
	padding-left: 0.8rem;
	position: relative;
	vertical-align: middle;

	.stitle {
		font-size: 1rem;
		font-weight: 500;
		color: #666;
		margin-top: .5rem;
		display: block;
		position: relative;
		vertical-align: button;
		line-height: 1.3;

		.btn-options {
			position: initial;
			font-size: 1em;
			i {
				font-size: 1em;
			}
		}
	}

	input[type=text] {
		height: 2rem;
		margin: 0;
		margin-bottom: 0.5rem;
		border-bottom: none;
		cursor: pointer;
		max-width: 350px;

		//&:focus { border-bottom: none; }
	}

	.clear_docente {
		margin: 0;
		padding: 0;
		border: none;
		height: 2rem;
		width: 2rem;
		line-height: 2rem;
		vertical-align: middle;
		@include border-radius(50%);
		background-color: #fff;

		&:active, &:focus {
			background-color: #fff;
		}

		i {
			height: inherit;
			line-height: inherit;
			margin: 0;
			padding: 0;
		}
	}

	.sdescription {
		font-size: 0.95rem;
		margin: 0;
		padding: 0;
		margin-bottom: 1rem;
	}
}

.help {
	font-size: 1.1rem;

	i {
		font-size: 1.1rem;
		vertical-align: middle;
		margin-left: 5px;
	}
}

input[type=text][readonly=readonly] {
	color: #444 !important;

	& + label {
		color: #888 !important;
	}
}