// mixins
@mixin user-select($arg: none) {
    -webkit-user-select: $arg;
    -moz-user-select: $arg;
    -ms-user-select: $arg;
    user-select: $arg;
}

@mixin border-radius($arg: 0) {
  -webkit-border-radius: $arg;
  -moz-border-radius: $arg;
  -ms-border-radius: $arg;
  border-radius: $arg; 
}

@mixin box-shadow($arg: none) {
  -webkit-box-shadow: #{$arg};
  -moz-box-shadow: #{$arg};
  -ms-box-shadow: #{$arg};
  box-shadow: #{$arg}; 
}

@mixin animation($args) {
  -webkit-animation: $args;
  -moz-animation: $args;
  -ms-animation: $args;
  -o-animation: $args;
  animation: $args;
}

@mixin transition($args:200ms) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -o-transition: $args;
  -ms-transition: $args;
  transition: $args;
}

@mixin transform($args) {
  -webkit-transform: $args;
  -moz-transform: $args;
  -ms-transform: $args;
  -o-transform: $args;
  transform: $args;
}

@mixin rotate( $deg:45deg ) {
  @include transform(rotate($deg));
}

@mixin scale( $factor:.5 ) {
  @include transform(scale($factor));
}

@mixin translate( $x, $y ) {
  @include transform(translate( $x,$y ));
}